.active {
    margin-right: 20px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: rgb(249, 249, 250);
}

.inactive {
    margin-right: 20px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: rgb(7, 7, 7);
}

.active:hover {
    color: rgb(185, 185, 187)
}

.inactive:hover {
    color: rgb(185, 185, 187)
}